  section{
    width: 90%;
    margin: 0 auto;
    font-family: 'Satisfy', cursive;
    background-color:#ffe8d6;
    padding-bottom: 2%;
    box-shadow: 0 0.8em 1.8em -0.4em #ff006e;
}
section > img {
    height: 15%;
    width: 30%;
    margin: 1.3%;
    border-radius: 15px;
    transition: all 0.3s;
}
p {
    margin-left:1.3%;
    font-size: 1.5em;
}
h1 {
    font-size:800;
    border-bottom: 2px black solid;
    width: 40%;
    font-family: 'Satisfy', cursive;
    margin-left: 5%;
}
img:hover {
    transform: translateY(-0.5em);
}

@media (max-width: 768px) {
    h1 {
        width: 90%;
    }
    section>img {
        width: 80%;
        height: auto;
        margin: 4% 10%;
    }
}

