
@media only screen and (max-width: 1200px){
    .hero-text-box { 
        width: 100%;
        padding: 0% 2%;
    }
    .row { padding: 0% 2%;}
}

@media only screen and (max-width: 1023px){
    body {
        font-size: 18px;
    }
    .long_copy{ 
        width: 80%;
        margin: 10%;
    }
    .steps-box{ margin-top: 10px ;}
    .steps-box:last-child {
        margin-top: 70px;
    }
    .work-step {
        margin-bottom: 40px;
    }
    .work-step:last-of-type {
        margin-bottom: 50px;
    }
    .app-screen {
        width: 50%;
    }
    .app-button img {
        height: 50px;
        width: 40%;
        margin-right: 5%;
    }
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    .city-icons {
        font-size: 120%;
    }
    .plan-price {
        font-size: 250%;
    }
}

@media only screen and (max-width: 767px){
    
}

@media only screen and (max-width: 480px){
    
}