*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
.box {
    padding: 2%;
}
html {
    font-family: lato,sans-serif;
    background-color: #fff;
    color: #555;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.686),rgba(0, 0, 0, 0.686)), url("img/hero.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 4%;
    background-attachment: fixed;
}
/*----------------------------*/
/*----------- headings ---------*/
/*----------------------------*/
h1{
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 0.2em;
    line-height: 120%;
    margin-bottom: 2%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    word-spacing: 0.2em;
    font-weight: 400;
}
h2{
    font-weight: 300;
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 180%;
    margin-bottom: 3%;
    text-align: center;
    letter-spacing: 1px;
}
h2::after {
    display: block;
    height: 2px;
    width: 10%;
    background-color: #fb8500;
    content: "";
    margin: 0 auto;
    margin-top: 30px;
}
h3 {
    font-size: 120%;
    margin-bottom: 20px;
}
.hero-text-box { 
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*----------------------------*/
/*----------- buttons ------------*/
/*----------------------------*/
.btn {
    display: inline-block;
    padding: 1.2% 2%;
    text-decoration: none;
    border: 1px solid #fb8500;
    border-radius: 100px;
    margin: 0% .5%;
    transition: background-color 0.3s;
}
.btn-1 {
    color: #fff;
    background-color: #fb8500;
}
.btn-2 {
    color: #fb8500;
}
.btn-1:hover,
.btn-1:active{
 background-color: transparent;
 color: #fb8500;
}
.btn-2:hover,
.btn-2:active {
    background-color: #fb8500;
    color: #fff;
}
.x{
    padding: 3% 8% 4% 8%;
    vertical-align: middle;
}
/*----------------------------*/
/*------------ navigation -----------*/
/*----------------------------*/
.logo {
    height: 7em;
    width: auto;
    float: left;
    margin-top: 1rem;
}
.logo-black {
    display: none;
    height: 2.5em;
    width: auto;
    float: left;
    margin-top: .2rem;
    margin-bottom: .2rem;
    cursor: pointer;
}
.main-nav {
    float: right;
    margin-top: 2.5rem;
    font-weight: 400;
}
.main-nav li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a {
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    padding: .7rem 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #fb8500;
}
/*----------- sticky navigation -------*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #edf2f4;
    box-shadow: 0 2px 15px #fb8500;
    z-index: 9999;
}
.sticky .logo-black {
    display: block;
}
.sticky .logo {
    display: none;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;
    padding: .4rem 0;
    font-size: 1.0em;
}
.sticky .main-nav {
    float: right;
    margin-top: 20px;
    font-weight: 400;
}
/*----------------------------*/
/*----------- paragraphs ----------*/
/*----------------------------*/
.row .long-copy {
    font-size: 22px;
    width: 70%;
    margin: 0 auto;
    line-height: 140%;
    text-align: center;
}
.box p {
    font-size: 105%;
    line-height: 140%;
}
.section-features .long-copy{
    margin-bottom: 5%;
}
/*----------------------------*/
/*----------- icons ----------*/
/*----------------------------*/
ion-icon {
    font-size: 220%;
    color: #fb8500;
    margin-bottom: 20px;
    margin-left: 30%;
}
.city-icons {
    margin-bottom: 10px;
    padding-right: 5%;
    margin-left: 0%;
    font-size: 170%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.social {
    font-size: 170%;
    color: rgb(197, 191, 191);
    transition: 0.2s;
}
.social:hover{
    color: #fff;
}
/*----------------------------*/
/*----------- meals ----------*/
/*----------------------------*/
.section-meals{
    padding-top : 5%;
}
.meals-showcase {
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    display: block;
    width: 25%;
    float: left;
}
.meals-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meals-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.meals-photo img:hover {
    transform: scale(1.05);
    opacity: 1;
}
/*----------------------------*/
/*-------- how it works ----------*/
/*----------------------------*/
.section-steps {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #f4f4f4;
}
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child {
    padding-left: 5%;
    margin-top: 70px;
}
.app-screen {
    width: 40%;
}
.work-step {
    margin-bottom: 50px;
}
.work-step:last-of-type {
    margin-bottom: 70px;
}
.work-step div {
    display: inline-block;
    border: 2px solid #fb8500;
    border-radius: 50%;
    color: #fb8500;
    height: 55px;
    width: 55px;
    font-size: 150%;
    padding: 5px;
    text-align: center;
    margin-right: 5%;
    float: left;
}
.app-button img {
    height: 55px;
    width: auto;
    margin-right: 5%;
}
/*----------------------------*/
/*------------ city ---------*/
/*----------------------------*/
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.city-feature {
    margin-bottom: 10px;
    font-size: .8em;
}
.section-cities h3 {
    text-align: center;
}
.section-cities{
    margin-top: 5%;
    padding-bottom: 5%;
}
/*----------------------------*/
/*---------- testimonials ---------*/
/*----------------------------*/
.section-testimonials{
    padding: 5% 0%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
blockquote::before {
    content: "\201C";
    font-size: 400%;
}
blockquote {
    padding: 5%;
    font-style: italic;
    line-height: 145%;
    margin-top: 5%;
}
cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
/*----------------------------*/
/*-------- sign up ----------*/
/*----------------------------*/
.section-plans {
    background-color: #f4f4f4;
    padding: 5% 5%;
}
.plan-box {
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #f3cea4; 
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #fb8500;
}
.plan-box div:last-child{
    text-align: center;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #fb8500;
}
.plan-price span {
    font-size: 30%;
    font-weight: 400;

}
.paln-price-meal {
    font-size: 80%;
}
.plan-box ul {
    list-style: none;
}
.plan-box ul li {
    padding: 5px 0px;
}
/*----------------------------*/
/*--------- forms ------------*/
/*----------------------------*/
.section-form
{
    margin: 5% auto;
    width: 50%;
}
input[type=text],
input[type=email],
select,
textarea {
    font-size: 80%;
    width: 100%;
    height: 40px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #fb8500;
}
input[type=submit]
{
    font-size: 1em;
    padding: 2% 6%;
    cursor: pointer;
}
textarea{
    height: 100px;
}
input[type=checkbox]
{
    margin: 10px 5px 10px 0px;
}
*:focus{
    outline: none;
}
/*-----------------------*/
/*--------footer --------*/
/*-----------------------*/
footer {
    background-color: #1c1d1f;
    padding: 40px;
}
.footer-nav {
    list-style: none;
    float: left;
}
.social-icons {
    list-style: none;
    float: right;
}
footer li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited{
    text-decoration: none;
    color: rgb(197, 191, 191);
    border: 0;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.social-icons li a:hover {
    color: #fff;
}
footer p{
    color: rgb(197, 191, 191) ;
    font-size: 90%;
    text-align: center;
}